/* @import '@fontsource/fira-mono'; */

@font-face {
	font-family: 'History Pro';
	src: url('/fonts/HistoryPro-Two.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	font-family: 'History Pro', sans-serif;
}

body {
	height: 100vh;
}

#pano {
	height: 100dvh;
	/* Fallback */
	height: calc(var(--vh, 1vh) * 100);
	/* JavaScript-controlled dynamic fallback */

	width: 100vw;
	max-width: 100vw;
}

#pano>div {
	height: 100dvh;
	/* Fallback */
	height: calc(var(--vh, 1vh) * 100);
	/* JavaScript-controlled dynamic fallback */

	width: 100vw;
	max-width: 100vw;
}

.active-drop {
	rotate: 180deg;
	transform-origin: center;
	margin-right: 13rem;
	transform: translate(3px, -8px);
}

.nav-wrapper {
	position: absolute;
	bottom: 2rem;
	width: fit-content;
	z-index: 9999;
	left: 50%;
	transition: 0.3s all ease-in-out;
	transform: translate(-50%, 10px);
	display: block;
}

.inner-btn-wrapper {
	width: max-content;
}

.check-box {
	font-size: 2rem;
	accent-color: #2da74f;
}

.inner-btn-group button {
	background-color: white;
	padding: 0.5rem 1rem !important;
}



.inner-btn-group button:hover,
.inner-btn-group button {
	border: 1px solid transparent !important;
}

input[type='checkbox'] {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.left-panel {
	border-radius: 0.8rem;
	z-index: 999;
	background-color: #fff;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.left-panel-wrapper {
	left: 1rem;
	border-radius: 0.8rem;
	position: fixed;
	left: 1rem;
	z-index: 9888;
	bottom: 2rem;
}

.ghost-input {
	border: 2px solid #80befc;
	border-radius: 1rem;
	background-color: white;
	padding: 1rem;

	&:focus-within,
	&:active {
		border: 2px solid #80befc;
		outline: 2px solid #80befc;
	}
}

.primary-btn {
	border-radius: 99rem;
	background: #A47764;
	box-shadow:
		-4.15px 4.15px 5.54px 0px #fffef940 inset,
		4.15px -4.15px 5.54px 0px #00000040 inset;
	color: white;

	&:hover {
		box-shadow:
			-1px 3px 9px 3px #fffef940 inset,
			2px -2px 4px 1px #00000040 inset;
	}

	&:active {
		box-shadow:
			-4.15px 4.15px 5.54px 0px #fffef940 inset,
			4.15px -4.15px 5.54px 0px #00000040 inset;
	}
}

.prime-clr {
	color: #A47764;
}

.inner-btn-group {
	outline: 1px solid #e9e9e9;
	max-height: 16rem;
	overflow-y: auto;
	border-radius: 0.7rem;
}

.inner-modal-btn {
	background-color: transparent;
	width: 100%;
	padding: 0.5rem 1rem !important;
	display: flex;
	gap: 0.5rem;
	border-radius: 2px;
	align-items: center;
	border: 1px solid transparent !important;
}

.intro button:hover {
	animation: pulsate 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-pulsate {
	animation: pulsate 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.inner-modal-btn:nth-of-type(odd) {
	background: linear-gradient(90deg, #f3f3fc 0%, #fefefe 100%);
}

.inner-modal-btn.active {
	background-color: transparent;
	border: 1px dashed transparent !important;
	color: #fff;
	background: #A47764
}

.transparent-btn {
	background-color: transparent;
	color: white;
	padding: 0.5rem 1rem !important;
	display: flex;
	gap: 0.5rem;
	border-radius: 99rem;
	align-items: center;
	border: 1px solid transparent !important;

	svg {
		filter: brightness(500%);
	}
}

.inner-modal-btn:hover {
	background-color: transparent;
	border: 1px dashed transparent !important;
	color: #fff;
	background: #A47764;
}

.transparent-btn:hover {
	background-color: transparent;
	border: 1px dashed white !important;
}

.transparent-btn.active {
	background-color: #fff;
	border: 1px dashed transparent;
	color: #000;

	svg {
		filter: unset;
	}
}

.ghost-btn {
	border: 1px solid transparent !important;
	background-color: transparent;
	color: #666666;
	border-color: transparent !important;
	border: 1px solid transparent;

	&:hover {
		color: black;
		border: 1px solid transparent;
	}
}

#map {
	width: 100vw !important;
	position: absolute;
	top: 0;
	height: 100vh !important;
}

/* animations   */

@keyframes pulsate {
	50% {
		opacity: 0.5;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
		transform-origin: center;
	}

	to {
		transform: rotate(360deg);
		transform-origin: center;
	}
}

.animate-rotate {
	animation: rotate 100s linear infinite;
}

* {
	margin: 0;
}

.bg-all-none {
	background: none !important;
}

.ml--2 {
	margin-left: -1rem;
}

.none {
	display: none;
}

.rotate-to-view {
	display: none;
}

@keyframes rotatenow {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(45deg);
	}

	100% {
		transform: rotate(90deg);
	}
}

#pano>div {
	overflow: hidden;
}

nav button {
	user-select: none;
}

@media (min-width: 1020px) and (max-width: 1240px) {
	.left-panel-wrapper {
		bottom: 8rem;
	}
}

@media (orientation: portrait) {

	nav,
	#pano {
		display: none !important;
	}

	#pano * {
		display: none !important;
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
	}

	html {
		overflow: hidden;
	}

	.rotate-to-view {
		display: block !important;
		position: absolute;
		top: 0;
		background-color: black;
		height: 100dvh;
		/* Fallback */
		height: calc(var(--vh, 1vh) * 100);
		/* JavaScript-controlled dynamic fallback */

		width: 100vw;
		color: white;
		z-index: 2000000002;
		overflow: hidden;
		text-align: center;
	}

	.rotate-to-view svg {
		max-width: 200px;
		display: block;
		animation: rotatenow 5s ease-in-out 0.5s forwards;
		margin: auto;
		margin-bottom: 0rem;
	}
}

.cloudimage-360 {
	height: 100vh;
	/* Fallback */
	height: calc(var(--vh, 1vh) * 100);
	/* JavaScript-controlled dynamic fallback */
}

.v-none {
	visibility: hidden;
	height: 0;
	position: absolute !important;
	top: 0;
}

button {
	/* background-color: #231f20; */
	padding: 1rem 0.5rem;
}

.ghost-btn {
	border: 1px solid transparent !important;
}

.info-hotspot {
	display: block !important;
}

.cloudimage-360-inner-box {
	background-color: black;
	display: flex;
	justify-content: center;
}

.cloudimage-360-view canvas {
	/* max-width: 100%; */
}

.color-mode {
	display: flex;
	align-items: center;
}

.color-mode-wrapper {
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 999;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1.6rem;
}

.hotspot {
	font-weight: 900;
	margin-top: -44px;
	border-radius: 99rem;
	background-color: white;
	opacity: 0.7;
	width: max-content;
	color: #000;
	right: 0;
	left: -44px;
	padding: 0.3rem;
	cursor: pointer;
	position: absolute;
	width: max-content;
	font-size: 12px !important;
}

.hotspot:before {
	content: url('data:image/svg+xml,<svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.75" d="M14.5054 22.5295C13.9187 23.4994 12.5116 23.4994 11.9249 22.5295L0.243357 3.21604C-0.501537 1.98449 0.737902 0.508985 2.07954 1.03013L12.6692 5.14361C13.0204 5.28003 13.4099 5.28003 13.7611 5.14361L24.3508 1.03014C25.6924 0.508987 26.9319 1.9845 26.187 3.21605L14.5054 22.5295Z" fill="white"/></svg>');
	position: absolute;
	right: 42%;
	width: fit-content;
	top: 100%;
	transform-origin: center;
	transform: translate(25%, 22%);
	transition: all 1s ease-in-out;
}

.hotspot.right-arrow::before {
	left: 100%;
	top: 35%;
	transform-origin: center;
	transform: rotate(261deg) translate(25%, 22%);
}

.hotspot.left-arrow::before {
	left: -27%;
	rotate: 92deg;
	top: 13%;
}

.hotspot.down-arrow::before {
	left: 31%;
	bottom: -50%;
	transform-origin: center;
	transform: rotate(0deg) translate(25%, 22%);
}

.hotspot.top-arrow::before {
	left: 43%;
	top: -50%;
	transform-origin: center;
	transform: rotate(179deg) translate(25%, 22%);
}

/* HTML: <div class="tooltip">This is a Speech Bubble with a solid coloration and with border radius </div> */
.tooltip-text {
	margin: auto;
	margin-bottom: 2rem;
	font-size: 18px;
	max-width: 50ch;
}

.tooltip-text {
	/* triangle dimension */
	--b: 1em;
	/* base */
	--h: 1em;
	/* height */

	--p: 50%;
	/* triangle position (0%:left 100%:right) */
	--r: 0.5em;
	/* the radius */
	--c: #fff;

	padding: 1em;
	border-radius: var(--r) var(--r) min(var(--r), 100% - var(--p) - var(--b) / 2) min(var(--r), var(--p) - var(--b) / 2) / var(--r);
	clip-path: polygon(0 100%,
			0 0,
			100% 0,
			100% 100%,
			min(100%, var(--p) + var(--b) / 2) 100%,
			var(--p) calc(100% + var(--h)),
			max(0%, var(--p) - var(--b) / 2) 100%);
	background: var(--c);
	border-image: conic-gradient(var(--c) 0 0) fill 0 / var(--r) calc(100% - var(--p) - var(--b) / 2) 0 calc(var(--p) - var(--b) / 2) / 0 0 var(--h) 0;
}

/* HTML: <div class="tooltip">This is a Speech Bubble with a solid coloration and with border radius </div> */

/* HTML: <div class="tooltip">This is a Speech Bubble with a solid coloration and with border radius </div> */
.color-mode-wt {
	color: #000;
	font-size: 18px;
	max-width: 28ch;
	text-align: center;
}

.inner-btn-group button {
	background-color: white;
	padding: 0.5rem 1rem !important;
	width: 15rem;
	text-align: left;
}

.no-hovers.pt-3 .inner-btn-group {
	display: flex;
	flex-direction: column;
}

.color-mode-wt {
	/* triangle dimension */
	--b: 1em;
	/* base */
	--h: 1em;
	/* height */

	--p: 91%;
	/* triangle position (0%:left 100%:right) */
	--r: 0.5em;
	/* the radius */
	--c: #ffffff;

	padding: 1em;
	border-radius: min(var(--r), var(--p) - var(--b) / 2) min(var(--r), 100% - var(--p) - var(--b) / 2) var(--r) var(--r) / var(--r);
	clip-path: polygon(0 0,
			0 100%,
			100% 100%,
			100% 0,
			min(100%, var(--p) + var(--b) / 2) 0,
			var(--p) calc(-1 * var(--h)),
			max(0%, var(--p) - var(--b) / 2) 0);
	background: var(--c);
	border-image: conic-gradient(var(--c) 0 0) fill 0/ 0 calc(100% - var(--p) - var(--b) / 2) var(--r) calc(var(--p) - var(--b) / 2) / var(--h) 0 0 0;
}

.absolute {
	position: absolute;
}

#dollhouse {
	height: 75vh;
}

.dollhouse-wrapper {
	position: fixed;
	left: 0;
	width: 100%;
	right: 0;
	top: 0;
	margin: auto;
	height: 100%;
	backdrop-filter: blur(50px);

	img {
		max-height: 100%;
		margin-inline: auto;
	}

	button {
		width: fit-content;
		display: flex;
		padding: 0.4rem 1rem;
		align-items: center;
		gap: 0.5rem;
	}

	/* @media  (max-width: 1400px) {
		max-width: 70vw;
	} */

	@media (max-width: 1020px) {
		.active-drop-wrapper {
			transform: translate(-50%, 4.5rem) !important;
		}

		button {
			font-size: 0.765rem;
			margin-top: 1rem;
			padding: 0.5rem !important;
			gap: 0.2rem;
		}

		.safari-btn {
			margin-top: -1rem !important;
		}



		svg {
			width: 25px;
			height: 25px;
		}

		img {
			max-height: 60dvh;
			max-height: 70vh;
		}
	}
}

* :disabled {
	opacity: 0.5 !important;
}

.touch-point-wrapper-4 {
	position: absolute;
	bottom: 35%;
	right: 55%;
	display: flex;
	cursor: pointer;
	align-content: center;
	align-items: center;
	gap: 0.6rem;

	&:hover .touch-point-content {
		visibility: visible;
		animation: fadeIn 0.7s;
		transition: all 1s ease-in-out forwards;
	}
}

.cloudimage-360-inner-box canvas,
.vicinity-box canvas {
	width: 100vw !important;
	max-width: calc(1920 * 100dvh / 1080);
	height: 100dvh !important;
}

.btn-group {
	display: flex;
	gap: 1rem;
	justify-content: start;
	margin-inline: auto;
	width: fit-content;
	position: static;
	background: #A47764;
	padding: 0.6rem;
	border-radius: 99rem;
}


.active-drop-wrapper {
	transform: translate(-50%, 6rem);
}

.details-panel {
	display: none;
}

@media (max-width: 1020px) {
	.active-drop-wrapper {
		transform: translate(-50%, 4.5rem) !important;
	}

	.btn-group {
		padding: 0.3rem;
	}
}

@media (max-width: 1020px) {
	.left-panel--header {
		svg {
			width: 22px;
			height: auto;
		}
	}

	.inner-btn-group {
		max-height: 8rem;
	}

	.left-panel-wrapper {
		bottom: 8rem;
	}

	.nav-wrapper {
		position: absolute;
		bottom: 14px;
		width: 100%;
		z-index: 9999;
	}

	button,
	.inner-btn-group,
	.left-title {
		font-size: 0.765rem;
	}

	.nav-wrapper button {
		padding: 0.5rem !important;
	}

	.ghost-input {
		padding: 0.5rem;
	}
}

@media (max-width: 1200px) and (orientation: landscape) {
	#startTourImg {
		max-width: 24px;
	}


}

@media (min-width: 1200px) {
	body {
		overflow: hidden;
		max-width: 100vw;
		max-height: 100dvh;
	}
}

@media (max-width: 1020px) {
	.left-panel--header {
		svg {
			width: 22px;
			height: auto;
		}
	}

	.inner-btn-group {
		max-height: 8rem;
	}

	.left-panel-wrapper {
		bottom: 8rem;
	}

	.nav-wrapper {
		position: fixed;
		bottom: 14px;
		width: 100%;
		z-index: 9999;
	}

	button,
	.inner-btn-group,
	.left-title {
		font-size: 0.765rem;
	}

	.nav-wrapper button {
		padding: 0.5rem !important;
	}

	.ghost-input {
		padding: 0.5rem;
	}
}

@media (max-width: 999px) {
	.left-panel-wrapper {
		bottom: 5rem;
		max-width: 12rem;

		.inner-btn-group {
			max-height: 6rem;
		}
	}

	.inner-btn-group button {
		width: 11rem !important;
	}
}

@media (max-width: 767px) {
	nav .btn-group {
		gap: 0.2rem;
	}

	nav button {
		padding: 0.2rem !important;
	}

	.left-title {
		font-size: 0.6rem;
	}

	.details-panel {
		display: block;
	}

	.details-panel-lg {
		display: none;
	}

}

@supports (-webkit-touch-callout: none) {
	/* Landscape mode only */
	@media (max-width: 900px) and (orientation: landscape) {
		body {
			height: 100vh;
			height: 100svh;
			overflow: hidden;
			position: fixed;
			width: 100%;
		}

		#pano,
		.cloudimage-360 {
			height: 100vh;
			height: 100svh !important;
			width: 100vw;
			position: fixed;
			top: 0;
			left: 0;
		}

		/* .safari-btn {
			position: fixed !important;
			top: 35%;
			left: 8%;
			gap: 0.2rem;
		} */


	}

	@media (max-width: 900px) and (orientation: portrait) {

		body,
		#pano,
		.cloudimage-360 {
			height: 100dvh !important;
		}
	}
}


/* Add this to your existing CSS - iOS scroll trick for auto-fullscreen */

@supports (-webkit-touch-callout: none) {
	/* Landscape mode only */
	@media (max-width: 900px) and (orientation: landscape) {
		html {
			overflow: auto;
			height: 100%;
		}

		body {
			/* Critical: Make body taller to enable scroll */
			height: 120vh;
			min-height: 120vh;
			overflow: auto;
			position: relative;
			width: 100%;
		}

		#pano,
		.cloudimage-360 {
			height: 100vh !important;
			min-height: 100vh !important;
			max-height: 100vh !important;
			width: 100vw;
			position: fixed;
			top: 0;
			left: 0;
			overflow: hidden;
		}

		#pano>div,
		.cloudimage-360>div {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.cloudimage-360-inner-box canvas,
		.vicinity-box canvas {
			position: fixed !important;
			top: 0 !important;
			left: 0 !important;
			width: 100vw !important;
			height: 100vh !important;
			max-width: 100vw !important;
			max-height: 100vh !important;
		}

		.safari-btn {
			margin-bottom: 1rem !important;
		}

		.safari-btn img {
			width: 80%;
		}

		.nav-wrapper,
		.left-panel-wrapper,
		.color-mode-wrapper {
			position: fixed !important;
		}

		/* Add invisible spacer to enable scroll */
		body::after {
			content: '';
			display: block;
			height: 1px;
			width: 1px;
			position: absolute;
			bottom: 0;
		}
	}

	@media (max-width: 900px) and (orientation: portrait) {

		body,
		#pano,
		.cloudimage-360 {
			height: 100dvh !important;
		}
	}
}